# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual env
.venv/
venv/
env/

# Data
data/
*.csv
*.parquet

# IDE
.idea/
.vscode/
*.swp

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Screenshots
*.png
*.jpeg

# Logs
logs/

# Env
.env
